---
import Games from "../components/Games.vue";
import Layout from "../layouts/Base.astro";
import games from "../content/games.json";
---

<Layout
    title="Web Game Index"
    description="A list of web-based games you can play with your friends. All the games linked here are free to play, don't require an account, and work well over a video call."
>
    <main class="index">
        <h1>Web Game Index</h1>
        <section class="intro">
            <p>
                This is a list of web-based games you can play with your
                friends. All the games linked here are free to play, don't
                require an account, and work well over a video call.
            </p>
            <p>
                Built with 🧀 by <a href="https://github.com/tylermercer"
                    >Tyler Mercer</a
                > and <a href="https://github.com/drmercer">Dan Mercer</a>.
            </p>
        </section>
        <Games client:idle games={games} />
    </main>
</Layout>

<style>
    h1 {
        margin-top: 40px;
        text-align: center;
        font-size: 2em;
        color: var(--text-high-contrast);
        text-decoration: underline;
        text-decoration-color: var(--accent);
        text-decoration-thickness: 4px;
        padding: 20px;
        border-radius: 5px;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
    }

    .intro {
        max-width: 900px;
        padding: 0 40px;
        margin: 40px auto;
    }

    .intro p:not(:last-child) {
        margin-bottom: 1em;
    }
</style>
